day 1/report 3
{
  "name": "Project Management",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        -40
      ],
      "id": "da68cfc6-ff45-4db4-9d58-57073fef8594",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GzWDm6c_mzrjU9txH6EFHOr858QdwA-_ZHjuldjAogg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GzWDm6c_mzrjU9txH6EFHOr858QdwA-_ZHjuldjAogg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        160,
        -20
      ],
      "id": "a6a1f047-2acd-4c67-87bd-a69f3cdd487d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7JeOjq2VbVBfCjmi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['What will you do today?'] }}{{ $json.Name }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        380,
        -160
      ],
      "id": "612f5b0a-5273-4e91-abc3-ebbc0030492e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        220
      ],
      "id": "772d9575-6f3e-49dc-89a1-2e7e2104e647",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7wU93KTceBVEBbct",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60883194-5cdc-4a14-9763-3355751d03cf",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ],
      "id": "1ad4f7b3-7d86-49c7-8a9d-a73bf4964323",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GzWDm6c_mzrjU9txH6EFHOr858QdwA-_ZHjuldjAogg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GzWDm6c_mzrjU9txH6EFHOr858QdwA-_ZHjuldjAogg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        940,
        -160
      ],
      "id": "990fa132-69c0-4645-b155-25b36c02c438",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7JeOjq2VbVBfCjmi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GzWDm6c_mzrjU9txH6EFHOr858QdwA-_ZHjuldjAogg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GzWDm6c_mzrjU9txH6EFHOr858QdwA-_ZHjuldjAogg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1000,
        200
      ],
      "id": "21a46212-24b7-4c65-9d7f-8fc60b39a6c1",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7JeOjq2VbVBfCjmi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "subhi.krish003@gmail.com",
        "subject": "Project Mgt Report ",
        "emailType": "text",
        "message": "Reports being generated from the given sheets ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        0
      ],
      "id": "f7c09c2e-67c7-4cd7-bd0b-837d96b5fd9d",
      "name": "Gmail",
      "webhookId": "75f3efae-fa24-4a1f-aae4-bef51756371b",
      "credentials": {
        "gmailOAuth2": {
          "id": "RboZzoUQocCqbgVH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.id }}{{ $json.threadId }} provide employee name ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1440,
        -180
      ],
      "id": "b4acbb10-5bc5-419d-b252-d616e34f6562",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1500,
        260
      ],
      "id": "e12413f2-4aad-482a-95e7-8c0ef7ce4ce9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7wU93KTceBVEBbct",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        0
      ],
      "id": "d86a3972-516d-4662-ad49-006cdbc4adcc",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "subhiksha.k.ihub@snsgroups.com",
        "subject": "Report Generation ",
        "emailType": "text",
        "message": "The standup records been identified and reports been sent to different team leaders ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2060,
        0
      ],
      "id": "96149475-e9e3-43f7-915e-3ec673b4ee2c",
      "name": "Gmail1",
      "webhookId": "5743a77e-a874-479c-ae79-5cb319c1a46c",
      "credentials": {
        "gmailOAuth2": {
          "id": "RboZzoUQocCqbgVH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.id }} provide id ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2280,
        0
      ],
      "id": "52567ae8-34cd-4584-9b6b-2bca50150ba3",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2320,
        220
      ],
      "id": "2525faa2-71ac-4c1a-a5f7-678fd39ea1f8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "7wU93KTceBVEBbct",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "subhiksha.k.ihub@snsgroups.com",
        "subject": "HI",
        "emailType": "text",
        "message": "Your meeting been responded",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        0
      ],
      "id": "f068e498-6e21-42c3-8966-a85a245bf4d9",
      "name": "Gmail2",
      "webhookId": "818c4003-f9df-4527-8391-8f25a5176a5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "RboZzoUQocCqbgVH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff617cf4-28bf-4f12-9037-cb1a191d5447",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62ab073ef26ce09c215f2ae1c85c795e5a250b4e2dcafe77318fceb10074ae75"
  },
  "id": "dZSaxFo0smiAl9NF",
  "tags": []
}
